a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0px;
    padding: 0px;
}
body{
    font-weight: bold;
    font-family: "montserrat";
    background-color: lightblue;
}

@media screen and (max-width: 800px) {

    a{
        text-decoration: none;
        color: black;
    }
.navegar{
    display: flex;
}

    .logo{
        font-weight: bold;
        font-size: 20px;
        font-family: "montserrat";
        color: black;
        margin-top: 20px;
        margin-left: 50px;
       
    }
    .cabecalho{
    display: flex;
    column-gap: 50px;
    background-color: white;
    }
    .opcoes{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        font-size: 10px;
        margin-top: 15px;
        color: black;
    }

    .titulo{
       color: white;
       font-size: 50px;
    }
    .formulario{
        display: none;
    }
    .divtext{
       text-align: center;
       justify-content: center;
       margin-top: 30px;
    }
    .opcoes{
        display: none;
    }
    #menu{
        background-color: aqua;
    }
    #navegar{
        width: 28px;
        height: 25px;
    }
    #lista{
        display: none;
    }
    #nav.active #lista{
        display: block;
        height: calc(80vh - 50%);
        width: calc(80vh - 100%);
    }
}