@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@media screen and (min-width: 800px) {

body{
    font-weight: bold;
    font-family: "montserrat";
    background-color: lightblue;
}
#logo{
    font-weight: bold;
    font-size: 1.4vw;
    font-family: "montserrat";
    color: black;
    margin-top: 20px;
    margin-left: 50px;
   
}
.cabecalho{
display: flex;
column-gap: 3vw;
background-color: white;
}
.opcoes{
    display: flex;
    column-gap: 5vw;
    margin-left: 5vw;
    font-size: 10px;
    margin-top: 15px;
}
.buscar{
    border-radius: 7px;
    width: 400px;
    height: 25px;
    margin-top: 20px;
    margin-left: 50px;
}
.titulo{
   color: white;
   font-size: 50px;
}
.divtext{
   text-align: center;
   justify-content: center;
   margin-top: 50px;
}
.mainmenubtn{
    display: none;
}
#navegar{
    display: none;
}
#nav{
    display: none;
}
#navegar2{
    display: none;
}
#logo_respo{
    display: none;
}
#lupa{
    display: none; 
}
}