
<form action="/update_users" method="post" class="container d-flex flex-column w-25">
<input type="hidden" value="{{id}}" name="id">
<input value="{{nome}}" type="text" name="nome">
<input value="{{email}}" type="email" name="email">

<input type="password" id="senha" name="senha" value="{{senha}}">
<button type="submit">Enviar</button>
</form>
