
<form action="/update_produto" method="post" class="container d-flex flex-column">
<input type="hidden" name="id" value="{{id}}">

<label for="nome">Nome</label>
<input type="text" name="nome" placeholder="nome" value="{{nome}}">

<label for="preco">Preço</label>
<input type="number" name="preco" placeholder="preco" value="{{preco}}">

<label for="password">Imagem</label>
<input type="text" name="img" placeholder="img" value="{{img}}">
<button type="submit">Atualizar</button>


</form>
