<div class="p-5">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Roupas</th>
      <th scope="col">Peça</th>
      <th scope="col">Tamanho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Calça</td>
      <td>38</td>
      <td><button type="button" >Editar</button><button type="button" >Deletar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>short</td>
      <td>32</td>
      <td><button type="button" >Editar</button><button type="button" >Deletar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
       <td>camiseta</td>
      <td>P</td>
      <td><button type="button" >Editar</button><button type="button" >Deletar</button></td>
    </tr>
  </tbody>
</table></div>