a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0;
    padding: 0;
}
body{
    font-weight: bold;
    font-family: "montserrat";
    background-color: lightblue;
}

@media screen and (max-width: 800px) {

    a{
        text-decoration: none;
        color: black;
    }
.navegar{
    display: flex;
}

    #logo{
        font-weight: bold;
        font-size: 20px;
        font-family: "montserrat";
        color: black;
        margin-top: 10px;
        margin-left: 70px;
       
    }
    .cabecalho{
    display: flex;
    align-items: center;

    column-gap: 50px;
    background-color: white;
    }
    #opcoes{
        display: none;
        position: absolute;
        background-color: black;
        margin-top: 50px;
        width: 50%;
        
    }
    #opcoes h3{
        color: lightblue;
    }

    .titulo{
       color: white;
       font-size: 50px;
    }
    .formulario{
        display: none;
    }
    #close{
        display: none;
    }
    #opcoes2{
        display: none;
    }

    
}