@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@media screen and (min-width: 800px) {

body{
    font-weight: bold;
    font-family: "montserrat";
    background-color: lightblue;
}
#logo{
    font-weight: bold;
    font-size: 1.4vw;
    font-family: "montserrat";
    color: black;
    margin-top: 20px;
    margin-left: 50px;
   
}
.container{
    margin: 0;
    border: 0;
    max-width: 100%;
    margin-top: 20px;
}
.cabecalho{
display: flex;
background-color: white;
max-width: 100%;
column-gap: 5vw;
}
.opcoes{
    display: flex;
    column-gap: 5vw;
    margin-left: 5vw;
    font-size: 10px;
    margin-top: 10px;
}
.buscar{
    border-radius: 7px;
    width: 400px;
    height: 25px;
    margin-top: 20px;
    margin-left: 50px;
}
.titulo{
   color: white;
   font-size: 50px;
}
.divtext{
   text-align: center;
   justify-content: center;
   margin-top: 50px;
}
.mainmenubtn{
    display: none;
}
#navegar{
    display: none;
}
#nav{
    display: none;
}
#navegar2{
    display: none;
}
#logo_respo{
    display: none;
}
#lupa{
    display: none; 
}
.em_alta{
    padding: 3vw 0 0 22vw;
}
.imagens{
    display: flex;
    
}
.div_img{
    margin-left: 5vw;
}
.img_alta{
    border-radius: 20px;
}
.img_alta:hover{
    transform: scale(1.0); 
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
    transition: 500ms;
}

}